# Various
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.idea
geckodriver.log
/reports//
/tests/reports/
__pycache__/
tests/__pycache__
__pycache__/*
generic/config/__pycache__
generic/__pycache__
/actions-runner/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
.pytest_cache
reports/allure-reports
reports/pytest-reports
allure-report
results